$app-blue: #0f52ba;
$app-darkblue: #002684;
$app-red: #f70d1a;
$app-darkred: #f70d1a;
$app-black: #000000;
$app-lightgray: #f7f7f7;
$app-yellow: #fcd739;
$app-darkyellow: #f7c200;
$app-green: #059456;
$app-darkgreen: #006d38;
$app-white: #ffffff;
$app-gray: #5b5b5b;
$app-gray2: #7c7c7c;
$app-gray3: #9d9d9d;
$app-gray4: #d8d8d8;
$app-gray5: #ebebeb;

$primary: $app-blue;
$info: $app-blue;
$light: $app-gray;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
